// BROWSERFIX & DEFAULTSET STYLES ADAPTED FROM FOUNDATION ([F]) & RESPONSIVEBP ([R])
/* - - - local partials - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
 * _defaults.scss
 */

  // [F]
  // This is the default html and body font-size for the base rem value.
  $rem-base: 16px !default;
  // [F]
  // The default font-size is set to 100% of the browser style sheet (usually 16px)
  // for compatibility with browser-based text zoom or user-set defaults.
  // Since the typical default browser font-size is 16px, that makes the calculation for grid size.
  // If you want your base font-size to be different and not have it affect the grid breakpoints,
  // set $rem-base to $base-font-size and make sure $base-font-size is a px value.
  $base-font-size: 100% !default;
  // [F]
  // $base-line-height is 24px while $base-font-size is 16px
  $base-line-height: 150% !default;

  // @mixins
  //
  // [F]
  // mixin to clear floats
  //
  // [R]
  // Clearfix: contain floats (use .clearfix class as defined below)
  //
  // For modern browsers
  // 1. The space content is one way to avoid an Opera bug when the
  //    `contenteditable` attribute is included anywhere else in the document.
  //    Otherwise it causes space to appear at the top and bottom of elements
  //    that receive the `clearfix` class.
  // 2. The use of `table` rather than `block` is only necessary if using
  //    `:before` to contain the top-margins of child elements.

  @mixin clearfix {
    *zoom:1;
    &:before, &:after {
      content: " "; //1
      display: table; // 2
    }
    &:after {
      clear: both;
    }
  }

  // [F]
  // Global styles
  $body-bg: #fff !default;
  $body-font-color: #222 !default;
  $body-font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !default;
  $body-font-weight: normal !default;
  $body-font-style: normal !default;

  // [F]
  // Control font-smoothing
  $font-smoothing: antialiased !default;

  // [F]
  // Default colors throughout
  $primary-color: #008CBA !default;
  $secondary-color: #e7e7e7 !default;
  $alert-color: #f04124 !default;
  $success-color: #43AC6A !default;
  $warning-color: #f08a24 !default;
  $info-color: #a0d3e8 !default;

  // [F]
  // Must be 100% for off canvas to work
  html, body { height: 100%; font-size: $base-font-size; }

  // [F]
  // [R]
  // Set box-sizing globally to handle padding and border widths
  *,
  *:before,
  *:after,
  hr,
  input[type="search"] {
    /* Override Normalize */
    @include box-sizing(border-box);
  }

  // [R]
  // IE10 in Windows (Phone) 8
  // Support for responsive views via media queries do not work in IE10 on mobile for
  // versions prior to WP8 Update 3 (GDR3).
  @-ms-viewport { width: device-width; }

  // [R]
  // Use the iOS devices hardware accelerator to provide native scrolling.
  html {
      -webkit-overflow-scrolling: touch;
  }

  // [F]
  // Default body styles
  body {
    background: $body-bg;
    color: $body-font-color;
    padding: 0;
    margin: 0;
    font-family: $body-font-family;
    font-weight: $body-font-weight;
    font-style: $body-font-style;
    line-height: 1.4; // Set to $base-line-height to take on browser default of 150%
    position: relative;
    cursor: default;
  }

  a:hover { cursor: pointer; }

  // [R]
  // Headers
  // 1: Improve rendering of screen fonts.
  // 2: Prevent page breaking.
  h1, h2, h3, h4, h5, h6 {
      text-rendering: optimizeLegibility; // 1
      page-break-after: avoid; // 2
  }

  // [R]
  // Remove text-shadow in selection highlight: h5bp.com/i
  // These selection rule sets have to be separate.
  // #b3d4fc is common cursor selection color, but change to match design

  ::-moz-selection {
      background: #b3d4fc;
      text-shadow: none;
  }

  ::selection {
      background: #b3d4fc;
      text-shadow: none;
  }

  // [R]
  // A better looking default horizontal rule
  hr {
      display: block;
      height: 1px;
      border: 0;
      border-top: 1px solid #c0c0c0;
      margin: 1em 0;
      padding: 0;
  }

  // Grid Defaults to get images and embeds to work properly:

  // [R]
  // Remove the gap between images, videos, audio and canvas and the bottom of
  // their containers: h5bp.com/i/440
  audio,
  canvas,
  img,
  video {
    /* Override Normalize */
    vertical-align: middle;
  }

  // [F]
  // 1: Get rid of gap under images by making them display: inline-block; by default
  // [R]
  // 2: Make the image responsive.
  img {
    max-width: 100%; // 2
    height: auto; // 2
    display: inline-block; // 1
  }

  // [F]
  // If width or height tags are used to resize images, IE 6/7 will ensure they look
  // incredibly awful unless.....
  img { -ms-interpolation-mode: bicubic; }

  // [R]
  // Remove the border around images in anchors.
  a img {
    border: none;
  }

  // [F]
  // Miscellaneous useful HTML classes
  .left   { float: left !important; }
  .right  { float: right !important; }
  .clearfix     { @include clearfix; }
  .hide         { display: none; }

  // [F]
  // Font smoothing
  // Antialiased font smoothing works best for light text on a dark background.
  // Apply to single elements instead of globally to body.
  // Note this only applies to webkit-based desktop browsers and Firefox 25 (and later) on the Mac.
  .antialiased { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

  //
  // [F]
  // Global resets for forms
  //

  // [F]
  // Make sure textarea takes on height automatically
  textarea { height: auto; min-height: 50px; }

  // [F]
  // Make select elements 100% width by default
  select { width: 100%; }

